<template name="signup">
<!--   <form>
    <div class="control-group">
      <label>Username</label>
      <div class="controls"><input id="username" name="username" type="text" value="" /></div>
    </div>
    <div class="control-group">
      <label>Email</label>
      <div class="controls"><input id="email" name="email" type="text" value="" /></div>
    </div>
    <div class="control-group">
      <label>Password</label>
      <div class="controls"><input id="password" name="password" type="password" value="" /></div>
    </div>
    <div class="form-actions">
      <input type="submit" class="button" value="Sign Up" />
    </div>  
  </form> -->

  <div class="container">
    <div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sign Up!</h3>
        </div>
          <div class="panel-body">

            <div class="panel-body">
            <div class="messages">
            {{#each messages}}
            
              <div class="alert alert-danger message message-{{type}}" >{{message}}</div>
            {{/each}}
            </div>

            <form accept-charset="UTF-8" role="form">
                    <fieldset>
                <div class="form-group">
                  <input class="form-control controls" placeholder="Enter Full Name" name="username" id="username" type="text">
              </div>
              <div class="form-group">
                <input class="form-control controls" placeholder="Email" name="email" type="text" id="email" value="">
              </div>
              <div class="form-group">
                <input class="form-control controls" placeholder="Password" name="password" type="password" id="password" value="">
              </div>
              <input class="button btn btn-lg btn-success btn-block" type="submit" value="Sign Up">
              
            </fieldset>
              </form>
          </div>
      </div>
    </div>
  </div>
</div>
</template>