<template name="about">
	<div class="container">

		<div class="page-header">
  			<h1>About <small>TJ Science Olympiad </small></h1>
		</div>

		<p>TJ Science Olympiad is a club all about Science. Put more word here. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum </p>

		<blockquote>
  			<p>TJSO is the best club ever!</p>
  			<footer>-Sashank Thupukari</footer>

		</blockquote>

		<h3>Sponser:</h3>
		<ul class="list-group">
		  <li class="list-group-item">Ms. Holman</li>
		</ul>

		<h3>The officers for 2013-2014:</h3>
		<ul class="list-group">
		  <li class="list-group-item">Captain: Sparsh Gupta</li>
		  <li class="list-group-item">Vice-Captain: Emma</li>
		  <li class="list-group-item">Treasurer: Johnathan</li>
		  <li class="list-group-item">Co-Secretaries: Sashank and John</li>
		</ul>

		<h3>Event Leaders:</h3>
		<ul class="list-group">
		  <li class="list-group-item">Captain: Sparsh Gupta</li>
		  <li class="list-group-item">Vice-Captain: Emma</li>
		  <li class="list-group-item">Treasurer: Johnathan</li>
		  <li class="list-group-item">Co-Secretaries: Sashank and John</li>
		</ul>

		<a href="{{pathFor 'team'}}" class="btn btn-primary btn-lg active" role="button">View the Whole Team</a>		

	</div>
</template>