<template name="homepage">
<div class="container">
	<div class="jumbotron">
		<h1>Hey TJSO!</h1>
		<p>Welcome to the TJ Science Olympiad page.</p>
	</div>

	<h1> Quick Links: </h2>
	<div class="row">
		<div class="col-md-4">
			<div class="thumbnail">
				<div class="caption">
					<h3>Weekly Assignments</h3>
					<p>Event Leaders will post assignments to help you study </p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> 
				</div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail">
				<div class="caption">
					<h3>Latest Info</h3>
					<p>Head over to the blog to get the most up-to-date info directly from Ms. Holman and the officers</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> 
				</div>
			</div>
		</div>
		<div class="col-md-4 ">
			<div class="thumbnail">
				<div class="caption">
					<h3>Repository</h3>
					<p>Shared Material Full of Cheat Sheets and Helful Tips</p>
					<p><a href="#" class="btn btn-primary" role="button">Button</a> 
				</div>
			</div>
		</div>
	</div>
</div>

</div>
</template>