<template name="team">
	<div class="container">
		<div class="page-header">
  			<h1>Science Olympiad Teams <small>Regionals, States, Nationals</small></h1>
		</div>

		<h2>2013 - 2014 </h2>

		<div class="row">
  			<div class="col-md-6">
  				<div class="panel panel-primary">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Officers</div>
				  <!-- Table -->
				  <table class="table">
				    <th>Name</th>
				    <th>Position</th>
				    <tr>
				    	<td>Sashank Thupukari</td>
				    	<td>Captain</td>
				    </tr>
				  </table>
				</div>
  			</div>
  			<div class="col-md-6 col-md-offset-0.5">
  				<div class="panel panel-primary">
				  <!-- Default panel contents -->
				  <div class="panel-heading">Event Leaders</div>
				  <!-- Table -->
				  <table class="table">
				    <th>Name</th>
				    <th>Position</th>
				    <tr>
				    	<td>Sashank Thupukari</td>
				    	<td>Building</td>
				    </tr>
				  </table>
				</div>
	  		</div>
		</div>

		

		<div class="panel panel-success">
		  <!-- Default panel contents -->
		  <div class="panel-heading">States/Nationals</div>
		  <!-- Table -->
		  <table class="table">
		    <th>Name</th>
		    <th>Events</th>
		    <tr>
		    	<td>Sashank Thupukari</td>
		    	<td>Entomology (1st), Science Stuff (3rd)</td>
		    </tr>
		  </table>
		</div>

		<div class="panel panel-info">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Blue Team</div>
			 <div class="panel-body">
	    		<p>Regionals: Some Place</p>
	    		<p>Invitationals: Some Place</p>
	  		 </div>

		  <!-- Table -->
		  <table class="table">
		    <th>Name</th>
		    <th>Events</th>
		    <tr>
		    	<td>Sashank Thupukari</td>
		    	<td>Entomology, Science Stuff</td>
		    </tr>
		  </table>
		</div>

		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading">White Team</div>
		  <div class="panel-body">
	    		<p>Regionals: Some Place</p>
	    		<p>Invitationals: Some Place</p>
	  		 </div>
		  <!-- Table -->
		  <table class="table">
		    <th>Name</th>
		    <th>Events</th>
		    <tr>
		    	<td>Sashank Thupukari</td>
		    	<td>Entomology, Science Stuff</td>
		    </tr>
		  </table>
		</div>

		<div class="panel panel-danger">
		  <!-- Default panel contents -->
		  <div class="panel-heading">Red Team</div>
		  <div class="panel-body">
	    		<p>Regionals: Some Place</p>
	    		<p>Invitationals: Some Place</p>
	  		 </div>
		  <!-- Table -->
		  <table class="table">
		    <th>Name</th>
		    <th>Events</th>
		    <tr>
		    	<td>Sashank Thupukari</td>
		    	<td>Entomology, Science Stuff</td>
		    </tr>
		  </table>
		</div>


	</div>
</template>